Package: com.Mohammad.com
Name: Kenda
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Mohammad Ghzayel
Author: Mohammad Ghzayel
Section: Tweaks
Version: 1.0-1
Installed-Size: 284
